.password-container {
  position: relative;
  margin-bottom: 20px;
}

.password-input {
  padding-right: 30px;
}

.toggle-eye {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
